<h1>Editing general shopping list</h1>

<%= render "form", general_shopping_list: @general_shopping_list %>

<br>

<div>
  <%= link_to "Show this general shopping list", @general_shopping_list %> |
  <%= link_to "Back to general shopping lists", general_shopping_lists_path %>
</div>
