<h1>New general shopping list</h1>

<%= render "form", general_shopping_list: @general_shopping_list %>

<br>

<div>
  <%= link_to "Back to general shopping lists", general_shopping_lists_path %>
</div>
